@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    padding:0.5rem 0rem 0rem 2rem;
    font-family:'Supermercado One', cursive, sans-serif;
    font-size: 1.2rem;
    color: rgb(47, 80, 17);
}
h4{
    padding:0.5rem 0rem 0rem 2rem;
    font-family:'Supermercado One', cursive, sans-serif;
    font-size: 1.2rem;
}

#navBar{
    text-align: center;
}

.Menu > li> a{
    font-size: 0.7rem;
    display: block;
    padding: 0.2rem 0.3rem;
    font-family: 'Supermercado One', cursive, sans-serif;
    text-decoration: none;
    color: rgb(47, 80, 17);
}

.Menu li a:hover{
    color: rgb(243, 91, 44);
    transition:all.3;
}

.Menu>li{
    display: inline-block;
    margin: 0.625rem auto 0.625rem;
    position: relative;
    list-style: none;
}

.linea1{
    display: block;
    width: 18rem;
    margin: -0.375rem auto 0.625rem;
}

.Titulo{
    text-align: center;
    margin: 0.625rem auto 0.625rem;
    font-family: 'Supermercado One', cursive, sans-serif;
}

#Carrusel{
    margin: 0.625rem auto 0.625rem;
    background-color:black ;
    width: 11.625rem;
}
#slide{
    margin: 0.625rem auto 0.625rem;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    width: 9.375rem;
    height: 6.25rem;
    display: block;
}

#pepino{
    display: block;
    margin: 0.625rem auto 0.625rem;
    width: 1.5rem;
    height: 1.5rem;
}

#sobreMi{
    display: block;
    margin: 0.625rem 1.625rem 1.625rem 1.625rem;
    font-family: 'Supermercado One', cursive, sans-serif;
    background-color:  rgb(236, 255, 242);
    border-radius:3rem;
}

#Descripcion{
    padding: 1rem 3rem 0rem 3rem;
    font-size: 0.9rem;
    text-align: justify;
    font-family: 'Supermercado One', cursive, sans-serif;
    float: right;
    color: rgb(22, 85, 9);
}

#Descripcion2{
    display: block;
    margin: 1rem 1rem 1rem 1rem;
    padding: 0rem 0rem 2rem 0rem;
    font-size: 0.8rem;
    text-align: justify;
}
#flexTry{
    display: flex;
    align-content: center;
    flex-direction: row;
}

#fotoSexy{
    display: block;
    float: left;
    margin: 1rem 1rem 1rem 2rem;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 3rem;
}

#experiencia{
    display: block;
    margin:0.625rem 1.625rem 1.625rem 1.625rem;
    background-color:  rgb(231, 244, 255);
    border-radius: 3rem;
}

#Fecha{
    text-align: center;
    padding:0.5rem 1rem 0.5rem 1rem;
    font-size: 0.8rem;
}
#Trabajo{
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0rem 0rem 0rem 2rem;
    font-size:0.8rem;
}
#tel{
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 5.8rem;
    height: 4rem;
}

#Formulario{
    padding: 6rem 2rem 0rem 0.2rem;
}

#formula{
    padding: 0rem 2rem 0rem 0.2rem;
    display: flex;
    flex-direction: column;
}
#formula2{
    padding: 0rem 2rem 0rem 0.2rem;
    display: flex;
    flex-direction: column;
}
#Enviar{
    display: block;
    padding: 0rem 1rem 0rem 1.1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(217, 178, 226);
}

#conFlex{
    display: flex;
}
#contactame{
    display: block; 
    margin: 0.625rem 1.625rem 1.625rem 1.625rem;
    font-family: 'Supermercado One', cursive, sans-serif;
    background-color:  rgb(248, 236, 255);
    border-radius: 3rem;
}
.Contacto {
    list-style-type: none;
    font-family: 'Supermercado One', cursive, sans-serif;
}

#tsu1{
    padding: 0rem 2rem 0rem 0.2rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}
#tsu2{
    padding: 0rem 2rem 0rem 0.2rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}

#tsu3{
    padding: 0rem 2rem 0rem 0.2rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}

#tsu4{
    padding: 0rem 2rem 0rem 0.2rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    
    color: #000000;
}

#rectangle1{
    margin: 5rem 2rem 2rem 3rem;
    width: 39px;
    height: 147px;
    

    background: #ECA73F;
    border: 2px solid #000000;
    box-sizing: border-box;
    }
#rectangle2{
    margin: 7.4rem 0rem 2rem 0rem;
    width: 39px;
    height: 107px;

    background: #30E12C;
    border: 2px solid #000000;
    box-sizing: border-box;
}
#rectangle3{
    margin: 6.5rem 0rem 2rem 2rem;
    width: 39px;
    height: 122px;

    background: #4A70F7;
    border: 2px solid #000000;
    box-sizing: border-box;
}
#rectangle4{
    margin: 9.9rem 0rem 0rem 2rem;
    width: 39px;
    height: 67px;

    background: #FF6363;
    border: 2px solid #000000;
    box-sizing: border-box;

}

#Skills{
    display: block;
    margin:0.625rem 1.625rem 1.625rem 1.625rem;
    background-color:  rgb(255, 214, 176);
    border-radius: 3rem;
}

#newflex2{
    display: flex;
    flex-direction: row;
}
#newflex1{
    margin: 2rem 0rem -4rem 3rem;
    display: flex;
    flex-direction: row;
}